<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
<div class="form-group">
<label>UserName</label>

<input type="text" class="form-control" formControlName="userName" ngModel/>
<div class="alert" *ngIf="!loginForm.controls['userName'].valid && loginForm.controls['userName'].touched">This field is required</div>
</div>
<div class="form-group">
    <label>Password</label>
   
    <input type="password" class="form-control" formControlName="password" ngModel/>
    <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Enter a valid password.Minimum length is 8 characters and max length is 15 characters</div>
</div>
<p *ngIf="displayError" class="alert alert-danger" >{{status}}</p>
<button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button><a [routerLink]="['/register']" class="btn btn-link">Register</a>
</form>
