<div class="viewDiscContainer"><div class="table-responsive">
                
            <table class="table table-bordered" >
                <thead class="discHead">
                    <th>
                       Discussion
                    </th>
                    <th>
                       Date Created 
                    </th>
                    <th>
                        Last Post By
                    </th>
                    <th>
                        Total Posts
                    </th>
                    
                </thead>
                <tbody *ngFor="let i of discussions" style="font-size:12px">
                <tr>
                    <td style="background-color:#fff">
                       <a style="font-weight:bold;font-size:14px"> {{i.subjectLine}}</a><br/>
                       <p >{{i.subjectText}}</p>
                    </td>
                    <td >
                        {{i.createdDate|date:'short'}}<br/>by <a data-toggle="modal" href="#profileModal" (click)="selectDisc(i)">{{i.user.userName}}</a> 
                    </td>
                    <td style="background-color:#fff">
                      by <a>{{i.lastPostedBy}}</a><br/>at {{i.lastPostedDate|date:'short'}}
                    </td>
                    <td>
                        {{i.totalPosts}}
                    </td>
                   
                </tr>
        <!-- Modal -->
  <div class="modal fade" id="profileModal" role="dialog" *ngIf="modalDisable">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Profile</h4>
        </div>
        <div class="modal-body">
            <label>UserName</label>
          {{selectedDisc.user.userName}}<br/>
          <label>FirstName</label>
          {{selectedDisc.user.firstName}}<br/>
          <label>LastName</label>
          {{selectedDisc.user.lastName}}
        </div>
        <form #msgForm="ngForm" (ngSubmit)="sendMessage(msgForm.value,i.user.userId,msgForm)">
        <div class="form-group">
            <label>Send Message to {{selectedDisc.user.firstName}}</label>
            <input type="text" class="form-control" rows="5" name="msgSubject" placeholder="Message Subject" ngModel/>
        </div>
         <div class="form-group">
            <textarea class="form-control" rows="5" name="msgDetails" placeholder="Enter Your message here" ngModel required></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" [disabled]="!msgForm.valid" >SendMessage</button>
        
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
                
                </tbody>
            </table>

  
        <div>